.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: rgb(61, 184, 245);
}
.preview {
  background-color: white;
  min-height: 400px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
}
.preview img {
  max-width: 100%;
}

textarea {
  min-height: 400px;
  font-size: 5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.text-center {
  font-family: "Playfair Display", serif;
  user-select: none;
}

.previewheader {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  border-radius: 1.5px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  background-color: rgba(94, 122, 136, 0.418);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  user-select: none;
}

.editorheader {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  background-color: rgba(94, 122, 136, 0.418);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  user-select: none;
}
